.password-progress__line {
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: get-color(secondary, 200);
}
.password-progress__line--success {
  background-color: get-color(accent-1, 1100);
}
.password-progress__line--alert {
  background-image: linear-gradient(
    90deg,
    rgba(255, 143, 0, 1) 100px,
    rgba(255, 246, 228, 1) 100px
  );
}
.password-progress__line--error {
  background-image: linear-gradient(90deg, rgba(255, 86, 87, 1) 50px, rgba(250, 218, 218, 1) 50px);
}
