.ant-btn {
  height: auto;
  padding: initial;
  border: none;
  background-color: initial;
  box-shadow: none;
  &:hover,
  &:active,
  &:focus {
    border: none;
    background-color: initial;
  }
}
