.ant-table-pagination.ant-pagination {
  margin-top: 24px;
  margin-bottom: 24px;
}
.ant-pagination-item {
  border: none;
  border-radius: $border-radius-primary;
  a {
    @include text-caption-2;
    color: get-color(text, active-dark);
    line-height: 32px;
    &:hover,
    &:focus {
      color: get-color(primary, 1100);
    }
    &:active {
      color: get-color(primary, 1200);
    }
  }
}
.ant-pagination-item-active {
  background-color: get-color(secondary, 1000);
  a {
    color: get-color(text, white);
    &:hover,
    &:focus,
    &:active {
      color: get-color(text, white);
    }
  }
}
.ant-pagination-next,
.ant-pagination-prev {
  border-radius: $border-radius-primary;
  .ant-pagination-item-link {
    border: none;
    background-color: get-color(secondary, 50);
    color: get-color(secondary, 1000);
    font-size: 10px;
  }
}
.ant-pagination-disabled .ant-pagination-item-link {
  color: get-color(secondary, 800);
}
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: get-color(secondary, 1000);
  font-size: 12px;
}
