@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
