.calendar-legend {
  display: flex;
  width: 100%;
  max-width: 558px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 32px;
  border-bottom: 1px solid get-color(secondary, 100);
  gap: 16px;
}
.calendar-legend__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 276px;
  gap: 16px;
}
.calendar-legend__sign {
  @include text-body;
  flex-shrink: 0;
  width: 80px;
  padding: 28px 16px;
  border-right: 1px solid get-color(secondary, 100);
  border-bottom: 1px solid get-color(secondary, 100);
  background-color: get-color(text, white);
  text-align: center;
}
.calendar-legend__sign--blocked {
  background-color: get-color(secondary, 50);
  text-decoration: line-through;
}
.calendar-legend__description {
  @include text-body;
}
