.modal .booking-details__info:last-child {
  border-bottom: none;
}
.modal__text {
  @include text-body;
  color: get-color(text, active-dark);
}
.modal__title {
  @include text-headline-2;
  color: get-color(text, active-dark);
}
.modal__section:not(:last-child) {
  border-bottom: 1px solid get-color(secondary, 100);
}
.modal__choice-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }
}
.modal__choice-container--overflow {
  max-height: 144px;
  overflow-y: hidden;
  @include media-breakpoint-up(sm) {
    max-height: 64px;
  }
}
.modal__choice-item {
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: calc(50% - 24px);
  }
}
.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.modal__text-note {
  color: get-color(text, secondary-black);
}
.modal__share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 16px;
}
.modal__description {
  @include text-body;
  color: get-color(text, black);
}
.modal__counter {
  justify-content: space-between;
  width: 100%;
}
.modal__counter .ant-form-item-control-input-content {
  flex-grow: 0;
  width: 140px;
  border: none;
}
.modal__counter .ant-col.ant-form-item-control {
  flex-basis: 140px;
}
.modal__counter .ant-form-item-control-input {
  justify-content: flex-end;
}
.modal__counter .ant-form-item-label {
  flex-wrap: nowrap;
  max-width: 50% !important;
  text-align: left;
  white-space: break-spaces;
  @include media-breakpoint-up(md) {
    max-width: 55% !important;
  }
  > label:after {
    content: none;
  }
}
.modal__captiom {
  @include text-caption;
  color: get-color(text, black);
}
.modal__spinner {
  width: 136px;
  height: 136px;
  fill: get-color(primary, 1000);
}
