.popular-apartment {
  padding-right: 16px;
  padding-left: 16px;
  @include media-breakpoint-up(xl) {
    padding-right: 0;
    padding-left: 0;
  }
}
.popular-apartment__container {
  @include container;
}
.popular-apartment__title {
  @include text-display-2;
}
.popular-apartment__description {
  @include text-subheader;
  color: get-color(text, black);
}
.popular-apartment__slider {
  max-width: 100%;
  overflow: hidden;
}
.popular-apartment__slider-wrapper {
  display: flex;
  gap: 24px;
}
