@import '~antd/dist/antd.css';
@import '~react-phone-number-input/style.css';
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import '~swiper/swiper';
@import 'react-image-crop/src/ReactCrop';
@import 'style';

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
